/build/
/devel/
/install/
/logs/
*.bag
__pycache__/
*.py[cod]
.vscode/

/src/aquaflow_stonefish/data/anodes/
/src/aquaflow_stonefish/data/girona500/
/src/aquaflow_stonefish/data/models/
/src/aquaflow_stonefish/data/opti_blueboat/
/src/aquaflow_stonefish/data/sonobot/
/src/aquaflow_stonefish/data/turbines/
/src/aquaflow_stonefish/data/seabed.*
/src/aquaflow_stonefish/data/SoilBeach0078_1_350.jpg

/src/aquaflow_stonefish/data/bluerov2/*.bak
/src/aquaflow_stonefish/data/bluerov2/using

/src/aquaflow_stonefish/data/bricsbot/bot_shark.dae
/src/aquaflow_stonefish/data/bricsbot/bot_shark.obj
/src/aquaflow_stonefish/data/bricsbot/bot_shark.mtl
/src/aquaflow_stonefish/data/bricsbot/shark.dae
/src/aquaflow_stonefish/data/bricsbot/tag.dae
/src/aquaflow_stonefish/data/bricsbot/rander_v1*
/src/aquaflow_stonefish/data/bricsbot/bricsbot_stonefish_baked.*
/src/aquaflow_stonefish/data/bricsbot/TAG.png
/src/aquaflow_stonefish/data/bricsbot/brics.png
